<%= form_for(@linker) do |f| %>
  <% if @linker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@linker.errors.count, "error") %> prohibited this linker from being saved:</h2>

      <ul>
      <% @linker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :original_link %><br>
    <%= f.text_field :original_link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
