<p id="notice"><%= notice %></p>

<h1>Listing Linkers</h1>

<table>
  <thead>
    <tr>
      <th>Original link</th>
      <th>Hashing</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @linkers.each do |linker| %>
      <tr>
        <td><%= linker.original_link %></td>
        <td><%= linker.hashing %></td>
        <td><%= link_to 'Show', linker_path(id: linker.hashing) %></td>
        <td><%= link_to 'Edit', edit_linker_path(linker) %></td>
        <td><%= link_to 'Destroy', linker, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Linker', new_linker_path %>
